html {
  font-size: 16px;
}

body {
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5em;
}

/* Grid */

.grid-container {
  display: grid;
  grid-template-columns: minmax(280px, auto) 1fr;
  grid-gap: 1.25em;
  grid-template-areas: "navbar mainContent"
}

#navbar {
  grid-area: navbar;
  position: fixed;
  background-color: #C9DFF4;
}

#main-doc {
  grid-area: mainContent;
  padding: 20px;

}

/* navigation bar */

#navbar a {
  display: block;
  border: 2px solid #a0b2c3;
  padding: 15px;
  margin: 5px;
  text-decoration: none;
  font-size: 1.2em;
  color: black;
}

#navbar a:hover {
	color: #3131B2;
  font-weight: bold;
}

#main-header {
  font-size: 1.9em;
  padding: 10px;
  font-family: 'Teko', sans-serif;
}

/* main documentation */

header {
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 20px;
}

code {
  background-color: #E8F3FB;
  font-size: 1em;
  margin: 15px 0;
  padding: 10px;
}

#copyright {
  text-align: center;
  line-height: 1;
  font-size: .9em;
  margin-bottom: 0;
  margin-top: 30px;
}

/* Media queries */

@media screen and (max-width: 750px) {

 .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "navbar" "mainContent";
  }

 #navbar {
   position: inherit;
 }

}
